<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
</head>
<body>
    <h1>Cadastre um ponto</h1>
    <form action="/novo" method="post">
        <input type="number" name="x" placeholder="Enter x">
        <input type="number" name="y" placeholder="Enter y">
        <input type="number" name="z" placeholder="Enter z">
        <input type="number" name="r" placeholder="Enter r">
        <input type="submit" value="Submit">
    
</body>
</html>